*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

:is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4) > h2{
    color: hsl(192, 100%, 9%);
    font-size: 2rem;
    font-family: Poppins;
    font-weight: 600;
    padding-bottom: 1.1rem;
}

:is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4) > p{
    color: hsl(208, 11%, 55%);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

.section-1{
    background: url(./images/bg-hero-desktop.svg) no-repeat,hsl(193, 100%, 96%);
    background-size: cover;
    max-height: 700px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 4rem 2.5rem;
}

.header .logo-1{
    width: 250px;
    height: 30px;
}

.header .logo-1 img{
    max-width: 250px;
    height: 30px;
}

.header .btn-1{
    height: 50px;
    width: 200px;
    min-width: 100px;
    border-radius: 25px;
    background: hsl(0, 0%, 100%);
    color: hsl(192, 100%, 9%);
    box-shadow: 0 5px 20px -7px rgb(64, 61, 63);
    border: none;
    font-size: 0.83rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.article{
    display: flex;
    gap: 5%;
    padding: 0 4rem 3rem;
}

.article .text{
    width: 45%;
}

.article .image-1{
    width: 55%;
}

.article .image-1 img{
    overflow: hidden;
    width: 100%;
    height: auto;
}

.article .text{
    margin: auto 0;
}

.article .text h1{
    color: hsl(192, 100%, 9%);
    font-size: 2.5rem;
    font-family: Poppins;
    font-weight: 600;
    padding-block-end: 2rem;
    line-height: 1.4;
}

.article .text p{
    color: hsl(192, 100%, 9%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-block-end: 1.5rem;
    line-height: 1.7;
}

.article .text .btn-2{
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background: hsl(322, 100%, 66%);
    color: white;
    box-shadow: 0 5px 20px -5px rgb(223, 39, 161);
    border: none;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.sections{
    padding: 4rem 4rem 6rem;
    background: #ffffff;
}

:is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4) > p{
    color: hsl(203, 11%, 55%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
}

:is(.section-2, .section-3, .section-4){
    display: flex;
    gap: 5%;
    padding: 2rem 5rem;
    margin-block-start: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 20px -7px rgb(64, 61, 63);
    background: white;
}

:is(.section-2 .image-2 img, .section-3 .image-3 img, .section-4 .image-4 img){
    width: 100%;
    height: 100%;
}

:is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4,){
    margin: auto 0;
}

.overlap{
    max-width: 700px;
    max-height: 400px;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    margin-bottom: -80px;
    position: relative;
    background: white;
    box-shadow: 0 5px 20px -7px rgb(64, 61, 63);
}

.overlap h1{
    color: hsl(192, 100%, 9%);
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 3rem 0 2rem;
}

.overlap .btn-3{
    height: 60px;
    width: 300px;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background: hsl(322, 100%, 66%);
    color: white;
    border-radius: 30px;
    border: none;
    margin-block-end: 3rem;
    box-shadow: 0 5px 20px -5px rgb(223, 39, 161);
}

.overlap .overlap-content{
    height: 100%;
    margin: auto;
}

.main-footer{
    background: hsl(192, 100%, 9%);
    color: rgb(255, 255, 255);
    padding: 0 4rem 0 4.5rem;
}

.main-footer .logo-2 img{
    width: 100%;
    height: 100%;
}

.main-footer .logo-2{
    max-width: 200px;
    color: white;
    padding: 10rem 0 2rem;
}

.main-footer .links{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.contact .location, .contact .phone, .contact .email{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.links .contact{
    max-width: 370px;
}

:is(.contact .location, .contact .phone, .contact .email) > p{
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

:is(.contact .location, .contact .phone, .contact .email) > img{
    width: 20px;
    height: 15px;
}

.contact .location img{
    margin: 5px 10px 0 0;
}

.links .nav-link, .links .nav-link-2{
    display: grid;
    height: 150px;
}

.links .nav-link a, .links .nav-link-2 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

.links .social .social-link i{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}

.links .social .social-link i:not(:last-child){
    margin-right: 5px;
}

.links .social p{
    font-size: 0.6rem;
    margin: 10rem 0 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400
}

.reference{
    background: hsl(192, 100%, 9%);
    color: rgb(255, 255, 255);
    padding: 2rem 0;
    text-align: center;
}

.reference a{
    text-decoration: none;
    color: #fdfbfc;
}

.links .social .social-link i:hover{
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

.overlap .btn-3:hover, .article .text .btn-2:hover,
.header .btn-1:hover{
    filter: opacity(70%);
    cursor: pointer;
}

.links .nav-link a:hover, .links .nav-link-2 a:hover, .reference a:hover{
    text-decoration: underline;
}

.reference a:hover{
    color: #eb599e;
}

@media screen and (max-width: 992px){
    .article .text h1{
        font-size: 2.3rem;
    }
    
    .article .text p{
        font-size: 0.9rem;
    }
    
    .article .text .btn-2{
        width: 200px;
        height: 40px;
        font-size: 0.8rem;
    }

    .article .image-1 img{
        width: 95%;
        height: 95%;
        margin-left: auto;
    }
    
    :is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4) > p{
        font-size: 0.9rem;
    }

    :is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4) > h2{
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }

    .overlap{
        max-width: 550px;
        max-height: 300px;
    }
    
    .overlap h1{
        font-size: 1.6rem;
    }

    .overlap .btn-3{
        height: 50px;
        width: 250px;
        font-size: 0.8rem;
    }

    .main-footer .logo-2{
        max-width: 180px;
        color: white;
        padding: 10rem 0 2rem;
    }

    .main-footer .logo-2 img{
        width: 100%;
        height: 100%;
    }
    
    .main-footer .links{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 80px;
    }

    :is(.contact .location, .contact .phone, .contact .email) > p{
        font-size: 0.9rem;
    }

    .links .contact{
        max-width: 300px;
    }

    .main-footer .links .social{
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;

    }

    .links .nav-link a, .links .nav-link-2 a{
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 768px){
    .section-1{
        background: url(./images/bg-hero-mobile.svg) no-repeat,hsl(193, 100%, 96%);
        background-size: cover;
        max-height: 1000px;
        text-align: center;
    }

    .header{
        padding: 2.5rem 2rem 2.5rem;
    }

    .header .btn-1{
        height: 40px;
        width: 150px;
    }

    .article{
        display: flex;
        flex-direction: column;
    }
    
    .article .text{
        width: 100%;
    }

    .article .text h1{
        font-size: 2.5rem;
    }
    
    .article .text p{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .article .image-1{
        width: 100%;
        margin-top: 4rem;
    }

    .article .text .btn-2{
        width: 80%;
        height: 50px;
        font-size: 0.8rem;
    }

    :is(.section-2 .image-2, .section-3 .image-3, .section-4 .image-4) > img{
        background-size: cover;
        background-position: center;
    }

    .main-footer .logo-2{
        max-width: 150px;
        color: white;
        padding: 10rem 0 2rem;
    }

    .main-footer .logo-2 img{
        width: 100%;
        height: 100%;
    }

    .links .contact{
        max-width: 250px;
    }

}

@media screen and (max-width: 650px) {
    .header{
        padding: 2.5rem 2rem 2.5rem;
    }
    
    .header .logo-1{
        width: 200px;
        height: 30px;
    }
    
    .header .logo-1 img{
        width: 100%;
        height: 100%;
    }
    
    .header .btn-1{
        height: 40px;
        width: 150px;
        border-radius: 20px;
    }
    
    .article{
        padding: 0 2.5rem 3rem;
    }

    .article .text h1{
        font-size: 2.1rem;
        padding-block-end: 2rem;
    }
    
    .article .text p{
        padding-block-end: 1.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .section-3{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    :is(.section-2, .section-4){
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .sections{
        padding: 2rem 1.5rem;
    }

    :is(.section-2, .section-3, .section-4){
        padding: 2rem;
    }

    :is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4,) > p{
        line-height: 1.7;
    }

    :is(.section-2 .image-2, .section-3 .image-3, .section-4 .image-4){
        padding: 1.5rem;
    }

    .main-footer{
        padding: 0 1.5rem;
    }

    .main-footer .logo-2{
        width: 180px;
    }

    .main-footer .logo-2 img{
        width: 100%;
        height: 100%;
    }
    
}

@media screen and (max-width: 600px) {
    .header .logo-1{
        width: 100px;
        height: 25px;
    }
    
    .header .btn-1{
        height: 25px;
        width: 70px;
        border-radius: 20px;
        font-size: 0.7rem;
    }

    .article .text h1{
        font-size: 1.7rem;
        padding-block-end: 2rem; 
    }

    .article .text .btn-2{
        width: 80%;
        height: 40px;
        font-size: 0.8rem;
    }
    
    .overlap h1{
        font-size: 1.2rem;
        padding: 3rem 0 2rem;
    }
    
    .overlap .btn-3{
        height: 45px;
        width: 200px;
        font-size: 0.7rem;
        border-radius: 30px;
    }

    .main-footer{
        padding: 0 1rem;
    }

    .main-footer .logo-2{
        width: 170px;
    }

    .main-footer .logo-2 img{
        width: 100%;
        height: 100%;
    }

    .main-footer .links{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 0px;
    }

    .main-footer .links .contact{
        padding-bottom: 2rem;
        max-width: 400px;
    }

    .main-footer .links .social{
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        padding-top: 1rem;
    }

    .links .social p{
        font-size: 0.6rem;
        margin: 1.5rem 0 3rem;
    }

    .reference p{
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) and (min-width: 480px) {
    .overlap{
        margin: 0 3rem;
        margin-bottom: -80px;
    }
}

@media screen and (max-width: 479px) {
    .overlap{
        margin: 0 1rem;
        margin-bottom: -80px;
    }
}

@media screen and (max-width: 375px) {
    .article .text h1{
        font-size: 1.5rem;
        padding-block-end: 2rem; 
    }

    .article .text p{
        margin: 0;
    }

    :is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4) > h2{
        font-size: 1.2rem;
    }

    .overlap .overlap-content h1{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        font-size: 1rem;
    }

}

@media screen and (max-width: 360px) {
    .header .logo-1{
        width: 90px;
        height: 20px;
    }
    
    .header .btn-1{
        height: 25px;
        width: 50px;
        border-radius: 15px;
        font-size: 0.7rem;
    }

    :is(.section-2 .text-2, .section-3 .text-3, .section-4 .text-4) > h2{
        font-size: 1.2rem;
    }

    .overlap .overlap-content h1{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        font-size: 1rem;
    }

    .overlap .btn-3{
        height: 45px;
        width: 150px;
        font-size: 0.6rem;
        border-radius: 30px;
    }

}